/* Your custom styles */

/* mdb switch color */

.switch.primary-switch label input[type=checkbox]:checked + .lever {
    background-color: #689DF6;
}
.switch.primary-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #4285F4;
}
.switch.default-switch label input[type=checkbox]:checked + .lever {
    background-color: #4DCCBF;
}
.switch.default-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #2BBBAD;
}
.switch.secondary-switch label input[type=checkbox]:checked + .lever {
    background-color: #C791E2;
}
.switch.secondary-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #a6c;
}
.switch.success-switch label input[type=checkbox]:checked + .lever {
    background-color: #2ACC6C;
}
.switch.success-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #00C851;
}
.switch.info-switch label input[type=checkbox]:checked + .lever {
    background-color: #59C3EB;
}
.switch.info-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #33b5e5;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever {
    background-color: #FFA339;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #F80;
}
.switch.danger-switch label input[type=checkbox]:checked + .lever {
    background-color: #FF606F;
}
.switch.danger-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ff3547;
}
.switch.teal-switch label input[type=checkbox]:checked + .lever {
    background-color: #b2dfdb;
}
.switch.teal-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #80cbc4;
}
.switch.pink-switch label input[type=checkbox]:checked + .lever {
    background-color: #f8bbd0;
}
.switch.pink-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #f48fb1;
}
.switch.blue-switch label input[type=checkbox]:checked + .lever {
    background-color: #b3e5fc;
}
.switch.blue-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #81d4fa;
}
.switch.amber-switch label input[type=checkbox]:checked + .lever {
    background-color: #ffe082;
}
.switch.amber-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ffd54f;
}
.switch.mdb-color-switch label input[type=checkbox]:checked + .lever {
    background-color: #618FB5;
}
.switch.mdb-color-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #3F729B;
}
.switch.indigo-switch label input[type=checkbox]:checked + .lever {
    background-color: #9fa8da;
}
.switch.indigo-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #7986cb;
}
.switch.blue-white-switch label input[type=checkbox]:checked + .lever {
    background-color: #2196f3;
}
.switch.blue-white-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #fff;
}
.switch.blue-white-switch label .lever  {
    background-color: #ccc;
}
.switch.blue-white-switch label .lever:after {
    background-color: #fff;
}
/* fine MDB color switch*/


.select-wrapper.mdb-select.colorful-select.dropdown-primary.border_custom_select {
    border: 1px solid #17a2b8; /*#4808c3;*/
    border-radius: .25rem;
    max-height: 37px;
}


.select-wrapper {
    position: relative;
    margin-top: 0px;
}

.select-wrapper input.select-dropdown {
	margin: -5px 12px 15px;
	border-bottom-width: 0px;
}

.select-wrapper span.caret {
    right: 15px;
    top: 13px;
}

.checkbox-teal [type="checkbox"]:checked+label:before {
    border-color: transparent #009688 #009688 transparent;
}

.form-check.checkbox-teal {
    padding-top: 33px;
}

label {
    font-size: 11.5px;
}

.disabilitato {
    color: #c6c7c6!important;

}

.form-control {
	border: 1px solid #17a2b8;
	color: black;
}

/*.form-control:disabled, .form-control[readonly] {
    background-color: #2a5f9400;
    opacity: 1;
}

.select-wrapper input.select-dropdown:disabled {
	color:black;
}*/

.select-wrapper i, select:disabled {
    background-color: red;
}

/*
.select2-container-disabled {
	background-color: black;
}*/

img#icona {
    margin-top: -9px;
}

img.img-fluid.z-depth-1-half.rounded-circle.modal_custom_cercaProgetto {
    margin-top: 30px;
}


element.style {
}
li.nav-item.vertical_line {
    border-left: 4px solid white;
    height: auto;
}
span#small-font {
    font-size: 10px;
}

element.style {
}
.stripe.dark.custom_height {
    height: 110.4;
}
.stripe.light.custom_height {
    height: 110.4;
}
hr.select {
    margin-top: -20px;
}
.dropdown-menu.dropdown-menu-right.dropdown-info.custom-width.show {
    width: 550px;
}


/*

jqGrid custom CSS

Inizio
*/
tr.ui-widget-content.jqgrow.ui-row-ltr:nth-of-type(odd) {
    background: #f0f0f0;
    height: 30px;
}

tr.ui-widget-content.jqgrow.ui-row-ltr:nth-of-type(even) {
    background: #ffffff;
    height: 30px;
}
tr.ui-widget-content.jqgrow.ui-row-ltr.ui-state-highlight{
	background: #edd743;
}
th.ui-state-default.ui-th-column.ui-th-ltr{
	background: #767676;
    height: 30px;
}
div.ui-jqgrid-sortable{
	color: white;
}
div.ui-widget-header.ui-corner-top.ui-jqgrid-titlebar.ui-jqgrid-caption{
	display: none;
}
td.ui-state-default.jqgrid-rownum {
    background: #767676;
    height: 30px;
    color: white;
}
td.ui-jqgrid-pg-left, td.ui-jqgrid-pg-right, td.ui-jqgrid-pg-center, table.ui-pg-table, a.ui-corner-all.clearsearchclass{
	background: #767676;
	color: white;
	
}
input.ui-widget-content{
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*se mettiamo questo parametro mi toglie l'edit delle celle Nome e COgnome
/*.card-custom{
	z-index:-1;
}
*/
.ui-jqgrid-btable .ui-state-highlight { background: white; }

.custom-grid {

    border: 1px solid #808080;
    background-color: #dee2e6;
}

.custom-gridlight {

    border: 1px solid #808080;
    background-color: #ffffff;
}

/* elimina il bordo dagli input della sezione E */
.custom-form {
	border: 0px;
}

/* immagine della sezione E */
.custom-image {
	padding-top: 6px;
}


/* definisco il colore della linea della sezioneE */

hr {
    border-top: 1px solid #00bcd5;
    width: 66%;
}

.custom-blu {
	color: #3f51b5;
}

.custom-yellow {
	background-color: #f3f39a!important;
}

.custom-nascita{
    font-size: medium!important;
}


/* definisco le misure per la tabella della valutazione funzionale */

th#VF {
    min-width: 23rem;
}

th#DataVF {
    min-width: 9rem;
}

th#FaseVF {
    min-width: 12rem;
}

th#MedTer {
    min-width: 12rem;
}

th#Ob {
    min-width: 15rem;
}

th#TP {
    min-width: 15rem;
}

th#IntPro {
    min-width: 15rem;
}

/* ---- fine definizione Valutazione funzionale ---- */


/*definisco le misure per la tabella dell'esame strumentale */

th#DataES {
    width: 15.1rem!important;
}

/* fine definizione esame strumentale */

/* definisco le misure per la tabella diaria */
th#DataDay {
    width: 15.1rem!important;
}

th#Diaria {
    min-width: 20rem!important;
    max-width: 20rem!important;
    
}

/*definisco le misure per la tabella indicazioni*/
th#DataFAM {
    min-width: 9rem;
}

th#IndicFam {
    min-width: 20rem;
}

th#DataScuo {
    min-width: 9rem;
}

th#DataAltri {
    min-width: 9rem;
}

th#IndicScuo {
    min-width: 20rem;
}

th#IndicAltri {
    min-width: 20rem;
}

th#OperatoreScuo {
    min-width: 20rem;
}

th#OperatoreAltri {
    min-width: 20rem;
}
/* fine definizione indicazioni */

/*definisco le misure per la tabella patologia1*/
th#DataInizioPatologia {
    max-width: 9rem;
}


th#DataCons {
    max-width: 9rem;
}

th#MotivoCons {
    min-width: 25rem;
}

th#Consulenza {
	min-width: 25rem;
}


th#CodICD9 {
    min-width: 28rem|important;
    max-width: 30rem!important;
}

th#CodICD9value {
    max-width: 9rem;
}

/* fine definizione patologia1 */


/*definisco le misure per la tabella patologia2*/
th#Dom {
    min-width: 15rem;
}

th#ICF {
    min-width: 25rem;
}

th#ICFQual1 {
    min-width: 13rem;
}

th#ICFQual2 {
    min-width: 13rem;
}

th#ICFQual3 {
    min-width: 13rem;
}

/* fine definizione */

/* definisco le misure per la tabella Programma terapeutico */

th#DataPT{
	min-width: 9rem;
}

th#FasePT{
	min-width: 22rem;
}

th#PeriodoPT{
	min-width: 11rem;
}

th#ProcedurePT{
	min-width: 20rem;
}

th#ModalitaPT{
	min-width: 20rem;
}
	
th#TempiPT{
	min-width: 20rem;
}
	
th#OperatorePT{
	min-width: 20rem;
}
													
/* fine definizione */

/* definisco le misure per la tabella Progetto Riabilitativo*/

th#AreaPT2{
	min-width: 24rem;
}

th#ObbiettivoPT2{
	min-width: 22rem;
}

th#OperatorePT2{
	min-width: 15rem;
}

th#ObbiettivoAttesoPT2{
	min-width: 30rem;
}

th#OperatoreNPT2{
	min-width: 15rem;
}
	
th#ObbiettivoAggiornatoPT2{
	min-width: 30rem;
}
	
th#RisultatiRaggiuntiPT2{
	min-width: 30rem;
}
													
/* fine definizione */

.event{
	height: 40px!important;
}

.event_form{
	width: 60%;
}

.indigo.lighten-1 {
    background-color: #4284f4!important;
}

.hr_color{
    border-top: 1px solid #4284f4;
    border: 1px solid #4284f4;
}

.card{
	overflow: unset!important;
}

div#pazienti_table_info {
	display:none;
}

div#pazienti_table_length {
	display:none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #ffffff;
    background-color: #ff1818;
    background: #0b51c5;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #ffffff!important;
    border: 1px solid #ffffff!important;
    background: #0b51c5!important;
	background-color: #71abff!important;
}

.blue.darken-3 {
    background-color: #0b51c5!important;
}

button#indietro {
    margin-right: 180px;
}


.fc-center {
    text-transform: capitalize;
}

/* override z-index card */
.card.card-cascade.wider.reverse .card-body {
    z-index: 1;
    margin-top: -1rem;
    border-radius: 4px;
}

a.btn.btn-primary.p-3.button-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0)!important;
    z-index: 997;
    will-change: opacity;
}
a.menuItem {
    color: white;
}

.labelRequired {
	/*border: 1px solid #ff0000!important;*/
	color: red;
}

.prova {
	/*border: 1px solid #ff0000!important;*/
	color: red;
}
